<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<% if @album.photos.count %>
	<% @album.photos.each do |photo| %>
		<img src="<% @album.id %>" alt="">
	<% end %>
<% else %>
	<p>Este Album no tiene imagenes :(</p>
<% end %>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
