<h1>Usuarios</h1>

<% @users.each do |u| %>
  <div class="span12">
    <div class="tile bg-color-greenDark post">
      <div class="tile-content">
        <%= link_to (image_tag u.profile_photo, class: "place-left"), u %>
        <h3 style="margin-bottom: 5px;">
          <%= link_to u.to_s, u %>
        </h3>
      </div>
    </div>  
  </div>
<% end %>
